.title {
    background-color: rgba(0, 128, 0, 0.291);
    padding: 20px;
    text-align: center;
    color: rgba(255, 166, 0, 0.955);

}

#body {
    background-color: rgba(255, 166, 0, 0.075);
}

#intro {
    border-bottom: 1px solid green;
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 40px;
}

.page-layout {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.sidebar{
    display: flex;
    flex-direction: column;
   
}
.restaurant {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: flex-start;

}

.dish-images {
    object-fit: cover;
    border-radius: 8px;
    width: 200px;
    height: 200px;


}

.restaurant article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 10x;
    text-align: center;

}

.aisle1 {
    padding: 10px;
    flex: 1;
    background-color: rgba(0, 128, 0, 0.137);
    border-left: 1px solid green;
    border-right:1px solid green;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    margin-bottom: 50px;
}
.asile-title{
    text-align: center;
    align-items: center;
    border-bottom: 1px solid green;
    padding: 10px;
}

.favorites-summary{
    margin-top: 40px;
    padding: 10px;
    background-color: rgba(126, 128, 0, 0.137);
    margin-bottom: 50px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}


article.highlighted{
    background-color: #ffffcc;
    border: 2px solid #ffcc00;
    border-radius: 8px;
}

.images {
    height: 300px;
    width: 400px;
}

.footer{
    border-top:1px solid green;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 128, 0, 0.291);
}